In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from tabulate import tabulate
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
df = pd.DataFrame(pd.read_csv("/content/drive/MyDrive/Colab Notebooks/csh101 ann.csv"))

In [ ]:
df

,Date,Time,Sensor,Translate01,Translate02,Message,SensorType,Activity,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,20-07-2012,10:38:55,M001,OutsideDoor,Entry,ON,Control4-Motion,Step_Out,NaN,NaN,NaN
1,20-07-2012,10:38:55,LS001,Ignore,Ignore,49,Control4-LightSensor,Step_Out,NaN,NaN,NaN
2,20-07-2012,10:38:57,LS001,Ignore,Ignore,7,Control4-LightSensor,Step_Out,NaN,NaN,NaN
3,20-07-2012,10:38:58,LS001,Ignore,Ignore,50,Control4-LightSensor,Step_Out,NaN,NaN,NaN
4,20-07-2012,10:38:59,LS001,Ignore,Ignore,7,Control4-LightSensor,Step_Out,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
321452,17-09-2012,23:52:19,M012,Bedroom,Bed,OFF,Control4-Motion,Other_Activity,NaN,NaN,NaN
321453,17-09-2012,23:53:10,M012,Bedroom,Bed,ON,Control4-Motion,Other_Activity,NaN,NaN,NaN
321454,17-09-2012,23:53:12,M012,Bedroom,Bed,OFF,Control4-Motion,Other_Activity,NaN,NaN,NaN
321455,17-09-2012,23:53:15,M012,Bedroom,Bed,ON,Control4-Motion,Other_Activity,NaN,NaN,NaN
321456,17-09-2012,23:53:16,M012,Bedroom,Bed,OFF,Control4-Motion,Other_Activity,NaN,NaN,NaN

In [ ]:
column=['Sensor', 'Translate01','Translate02', 'Message', 'SensorType','Unnamed: 8','Unnamed: 9','Unnamed: 10']
df=df.drop(column, axis=1)
new=pd.to_datetime(df.Date.astype(str)+ ' '+df.Time.astype(str))
df.insert(0,"Timestamp",new)
df

                 Timestamp        Date      Time        Activity
0      2012-07-20 10:38:55  20-07-2012  10:38:55        Step_Out
1      2012-07-20 10:38:55  20-07-2012  10:38:55        Step_Out
2      2012-07-20 10:38:57  20-07-2012  10:38:57        Step_Out
3      2012-07-20 10:38:58  20-07-2012  10:38:58        Step_Out
4      2012-07-20 10:38:59  20-07-2012  10:38:59        Step_Out
...                    ...         ...       ...             ...
321452 2012-09-17 23:52:19  17-09-2012  23:52:19  Other_Activity
321453 2012-09-17 23:53:10  17-09-2012  23:53:10  Other_Activity
321454 2012-09-17 23:53:12  17-09-2012  23:53:12  Other_Activity
321455 2012-09-17 23:53:15  17-09-2012  23:53:15  Other_Activity
321456 2012-09-17 23:53:16  17-09-2012  23:53:16  Other_Activity

[321457 rows x 4 columns]

In [ ]:
Activity_counts=df['Activity'].value_counts()
Activity_counts

Other_Activity           90824
Watch_TV                 61312
Sleep_Out_Of_Bed         16618
Bathe                    16289
Cook_Breakfast           16279
Dress                    14051
Toilet                   13727
Personal_Hygiene         13221
Sleep                    11752
Read                      8608
Relax                     5777
Cook_Dinner               5557
Drink                     3794
Eat_Breakfast             3564
Morning_Meds              3543
Evening_Meds              3359
Cook_Lunch                3197
Wash_Breakfast_Dishes     3197
Wash_Dishes               3194
Leave_Home                3124
Cook                      2764
Enter_Home                2594
Entertain_Guests          2568
Wash_Dinner_Dishes        2459
Phone                     1846
Groom                     1797
Step_Out                  1520
Eat_Dinner                1092
Eat_Lunch                  866
Wash_Lunch_Dishes          773
Bed_Toilet_Transition      720
Eat                        496
Go_To_Sleep                412
Wake_Up                    379
Work_At_Table              184
Name: Activity, dtype: int64

In [ ]:
Watch_TV_df=df.query("Activity=='Watch_TV'")
array=np.array(Watch_TV_df['Time'])
array2=[]
for i in array:
  a=i.split(":")
  i=a[0]+":00:00"
  i=a[0]+":00:00"
  array2.append(i)
Watch_TV_df= Watch_TV_df.assign(Time=array2)
Watch_TV_df["Time"] = pd.to_datetime(Watch_TV_df["Time"], format='%H:%M:%S').apply(lambda x: x.time())
Watch_TV_df

                 Timestamp        Date      Time  Activity
4101   2012-07-20 17:41:13  20-07-2012  17:00:00  Watch_TV
4104   2012-07-20 17:41:15  20-07-2012  17:00:00  Watch_TV
4105   2012-07-20 17:41:16  20-07-2012  17:00:00  Watch_TV
4106   2012-07-20 17:41:17  20-07-2012  17:00:00  Watch_TV
4107   2012-07-20 17:41:20  20-07-2012  17:00:00  Watch_TV
...                    ...         ...       ...       ...
320090 2012-09-17 22:26:45  17-09-2012  22:00:00  Watch_TV
320091 2012-09-17 22:26:46  17-09-2012  22:00:00  Watch_TV
320092 2012-09-17 22:27:42  17-09-2012  22:00:00  Watch_TV
320093 2012-09-17 22:29:32  17-09-2012  22:00:00  Watch_TV
320094 2012-09-17 22:29:33  17-09-2012  22:00:00  Watch_TV

[61312 rows x 4 columns]

In [ ]:
Bathe_df=df.query("Activity=='Bathe'")
array=np.array(Bathe_df['Time'])
array2=[]
for i in array:
  a=i.split(":")
  i=a[0]+":00:00"
  i=a[0]+":00:00"
  array2.append(i)
Bathe_df= Bathe_df.assign(Time=array2)
Bathe_df["Time"] = pd.to_datetime(Bathe_df["Time"], format='%H:%M:%S').apply(lambda x: x.time())
Bathe_df

                 Timestamp        Date      Time Activity
7108   2012-07-21 12:35:50  21-07-2012  12:00:00    Bathe
7112   2012-07-21 12:35:54  21-07-2012  12:00:00    Bathe
7113   2012-07-21 12:35:55  21-07-2012  12:00:00    Bathe
7114   2012-07-21 12:36:00  21-07-2012  12:00:00    Bathe
7115   2012-07-21 12:36:01  21-07-2012  12:00:00    Bathe
...                    ...         ...       ...      ...
314928 2012-09-17 09:39:20  17-09-2012  09:00:00    Bathe
314929 2012-09-17 09:39:21  17-09-2012  09:00:00    Bathe
314930 2012-09-17 09:39:22  17-09-2012  09:00:00    Bathe
314931 2012-09-17 09:39:25  17-09-2012  09:00:00    Bathe
314934 2012-09-17 09:39:29  17-09-2012  09:00:00    Bathe

[16289 rows x 4 columns]

In [ ]:
Personal_Hygiene_df=df.query("Activity=='Personal_Hygiene'")
array=np.array(Personal_Hygiene_df['Time'])
array2=[]
for i in array:
  a=i.split(":")
  i=a[0]+":00:00"
  i=a[0]+":00:00"
  array2.append(i)
Personal_Hygiene_df= Personal_Hygiene_df.assign(Time=array2)
Personal_Hygiene_df["Time"] = pd.to_datetime(Personal_Hygiene_df["Time"], format='%H:%M:%S').apply(lambda x: x.time())
Personal_Hygiene_df

                 Timestamp        Date      Time          Activity
2634   2012-07-20 12:00:43  20-07-2012  12:00:00  Personal_Hygiene
2636   2012-07-20 12:00:45  20-07-2012  12:00:00  Personal_Hygiene
2639   2012-07-20 12:00:45  20-07-2012  12:00:00  Personal_Hygiene
2640   2012-07-20 12:00:51  20-07-2012  12:00:00  Personal_Hygiene
2641   2012-07-20 12:00:54  20-07-2012  12:00:00  Personal_Hygiene
...                    ...         ...       ...               ...
321343 2012-09-17 23:43:03  17-09-2012  23:00:00  Personal_Hygiene
321344 2012-09-17 23:43:05  17-09-2012  23:00:00  Personal_Hygiene
321345 2012-09-17 23:43:07  17-09-2012  23:00:00  Personal_Hygiene
321346 2012-09-17 23:43:08  17-09-2012  23:00:00  Personal_Hygiene
321349 2012-09-17 23:43:12  17-09-2012  23:00:00  Personal_Hygiene

[13221 rows x 4 columns]

In [ ]:
Sleep_df=df.query("Activity=='Sleep'")
array=np.array(Sleep_df['Time'])
array2=[]
for i in array:
  a=i.split(":")
  i=a[0]+":00:00"
  i=a[0]+":00:00"
  array2.append(i)
Sleep_df= Sleep_df.assign(Time=array2)
Sleep_df["Time"] = pd.to_datetime(Sleep_df["Time"], format='%H:%M:%S').apply(lambda x: x.time())
Sleep_df

                 Timestamp        Date      Time Activity
10929  2012-07-21 23:58:41  21-07-2012  23:00:00    Sleep
10930  2012-07-21 23:58:42  21-07-2012  23:00:00    Sleep
10931  2012-07-21 23:58:44  21-07-2012  23:00:00    Sleep
10932  2012-07-21 23:58:45  21-07-2012  23:00:00    Sleep
10933  2012-07-21 23:58:52  21-07-2012  23:00:00    Sleep
...                    ...         ...       ...      ...
313482 2012-09-17 06:36:21  17-09-2012  06:00:00    Sleep
313483 2012-09-17 06:36:34  17-09-2012  06:00:00    Sleep
313484 2012-09-17 06:36:35  17-09-2012  06:00:00    Sleep
313485 2012-09-17 06:36:35  17-09-2012  06:00:00    Sleep
313486 2012-09-17 06:36:37  17-09-2012  06:00:00    Sleep

[11752 rows x 4 columns]

In [ ]:
Phone_df=df.query("Activity=='Phone'")
array=np.array(Phone_df['Time'])
array2=[]
for i in array:
  a=i.split(":")
  i=a[0]+":00:00"
  i=a[0]+":00:00"
  array2.append(i)
Phone_df= Phone_df.assign(Time=array2)
Phone_df["Time"] = pd.to_datetime(Phone_df["Time"], format='%H:%M:%S').apply(lambda x: x.time())
Phone_df

                 Timestamp        Date      Time Activity
2472   2012-07-20 11:50:04  20-07-2012  11:00:00    Phone
2473   2012-07-20 11:50:05  20-07-2012  11:00:00    Phone
2474   2012-07-20 11:50:05  20-07-2012  11:00:00    Phone
2475   2012-07-20 11:50:07  20-07-2012  11:00:00    Phone
2476   2012-07-20 11:50:08  20-07-2012  11:00:00    Phone
...                    ...         ...       ...      ...
320203 2012-09-17 22:32:40  17-09-2012  22:00:00    Phone
320204 2012-09-17 22:38:30  17-09-2012  22:00:00    Phone
320205 2012-09-17 22:38:32  17-09-2012  22:00:00    Phone
320206 2012-09-17 22:39:27  17-09-2012  22:00:00    Phone
320209 2012-09-17 22:39:30  17-09-2012  22:00:00    Phone

[1846 rows x 4 columns]

In [ ]:
Watch_TV_pivot = pd.pivot_table(Watch_TV_df, values='Activity', index="Date", columns="Time",aggfunc='count',fill_value=0)
Bathe_pivot = pd.pivot_table(Bathe_df, values='Activity', index="Date", columns="Time",aggfunc='count',fill_value=0)
Personal_Hygiene_pivot = pd.pivot_table(Personal_Hygiene_df, values='Activity', index="Date", columns="Time",aggfunc='count',fill_value=0)
Sleep_pivot = pd.pivot_table(Sleep_df, values='Activity', index="Date", columns="Time",aggfunc='count',fill_value=0)
Phone_pivot = pd.pivot_table(Phone_df, values='Activity', index="Date", columns="Time",aggfunc='count',fill_value=0)

In [ ]:
Watch_TV_Time = Watch_TV_pivot.iloc[0].index
Bathe_Time = Bathe_pivot.iloc[0].index
Personal_Hygiene_Time = Personal_Hygiene_pivot.iloc[0].index
Sleep_Time = Sleep_pivot.iloc[0].index
Phone_Time = Phone_pivot.iloc[0].index

In [ ]:
Watch_tv_df = Watch_TV_pivot.reset_index()
Watch_tv_df.head()

Time,Date,00:00:00,01:00:00,04:00:00,05:00:00,07:00:00,08:00:00,09:00:00,10:00:00,11:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,01-08-2012,378,0,0,0,0,44,329,82,127,...,0,16,33,0,47,57,0,174,259,14
1,01-09-2012,17,0,0,0,0,0,0,110,37,...,0,100,77,89,67,0,24,206,141,220
2,02-08-2012,0,7,0,0,0,0,0,24,0,...,0,33,73,133,140,79,14,11,8,22
3,02-09-2012,0,0,0,0,0,0,0,190,245,...,0,0,0,117,170,252,104,47,24,26
4,03-08-2012,362,29,0,0,0,0,0,149,284,...,0,0,38,135,94,71,83,14,9,15

In [ ]:
Bathe_df = Bathe_pivot.reset_index()
Bathe_df.head()

Time        Date  08:00:00  09:00:00  10:00:00  11:00:00  12:00:00  13:00:00
0     01-08-2012         0         0       200         0         0         0
1     01-09-2012         0         0         0         0         0       350
2     02-09-2012         0         0         0         0       315       183
3     03-08-2012         0         0         0         0       216         0
4     03-09-2012         0         0         0         0       175        97

In [ ]:
Personal_Hygiene_df = Personal_Hygiene_pivot.reset_index()
Personal_Hygiene_df.head()

Time,Date,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,01-08-2012,0,90,0,0,0,0,58,0,0,...,0,0,65,0,0,0,0,0,0,0
1,01-09-2012,154,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,47,0,113
2,02-08-2012,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,164,0,0,0,0
3,02-09-2012,47,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,110,0,0
4,03-08-2012,0,109,0,0,0,0,0,0,52,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Sleep_df = Sleep_pivot.reset_index()
Sleep_df.head()

Time,Date,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,09:00:00,10:00:00,22:00:00,23:00:00
0,01-08-2012,0,40,1,2,7,12,65,0,0,0,0,0,0
1,01-09-2012,67,6,0,4,2,68,33,74,99,126,67,0,0
2,02-08-2012,0,5,1,14,5,0,39,34,0,0,0,0,0
3,02-09-2012,41,0,35,22,32,3,38,68,48,0,0,0,69
4,03-08-2012,0,39,18,1,12,3,54,90,85,0,0,0,0

In [ ]:
Phone_df = Phone_pivot.reset_index()
Phone_df.head()

Time,Date,06:00:00,10:00:00,11:00:00,12:00:00,13:00:00,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,22:00:00
0,01-08-2012,0,0,0,22,0,0,0,0,0,0,14,14,0
1,02-09-2012,0,0,0,0,55,0,0,0,0,0,0,0,0
2,04-08-2012,0,0,0,0,26,0,0,0,0,0,0,0,0
3,05-09-2012,0,16,53,0,0,0,75,0,0,0,0,0,0
4,06-09-2012,0,34,0,14,0,0,0,0,0,0,0,0,0

In [ ]:
Watch_TV_hours=[]
x=0
for col in Watch_TV_Time:
  if col !='Date':
    x = Watch_TV_pivot[col].tolist()
  Watch_TV_hours.append(x)
Bathe_hours = []
x = 0
for col in Bathe_Time:
  if col != 'Date':
    x = Bathe_pivot[col].tolist()
  Bathe_hours.append(x)
Personal_Hygiene_hours = []
x = 0
for col in Personal_Hygiene_Time:
  if col != 'Date':
    x = Personal_Hygiene_pivot[col].tolist()
  Personal_Hygiene_hours.append(x)
Sleep_hours = []
x = 0
for col in Sleep_Time:
  if col != 'Date':
    x = Sleep_pivot[col].tolist()
  Sleep_hours.append(x)
Phone_hours = []
x = 0
for col in Phone_Time:
  if col != 'Date':
    x = Phone_pivot[col].tolist()
  Phone_hours.append(x)

In [ ]:
Watch_TV_Dates=Watch_tv_df['Date'].tolist()
Bathe_Dates = Bathe_df['Date'].tolist()
Personal_Hygiene_Dates = Personal_Hygiene_df['Date'].tolist()
Sleep_Dates = Sleep_df['Date'].tolist()
Phone_Dates = Phone_df['Date'].tolist()

In [ ]:
Watch_tv_X=[]
Watch_tv_Y=[]
Bathe_X = []
Bathe_Y = []
Personal_Hygiene_X = []
Personal_Hygiene_Y = []
Sleep_X = []
Sleep_Y = []
Phone_X = []
Phone_Y = []

In [ ]:
for x in Watch_TV_hours:
  t=max(x)
  index=x.index(t)
  Watch_tv_X.append(t)
  Watch_tv_Y.append(Watch_TV_Dates[index])
for x in Bathe_hours:
  t = max(x)
  index = x.index(t)
  Bathe_X.append(t)
  Bathe_Y.append(Bathe_Dates[index])
for x in Personal_Hygiene_hours:
  t = max(x)
  index = x.index(t)
  Personal_Hygiene_X.append(t)
  Personal_Hygiene_Y.append(Personal_Hygiene_Dates[index])
for x in Phone_hours:
  t = max(x)
  index = x.index(t)
  Phone_X.append(t)
  Phone_Y.append(Phone_Dates[index])
for x in Sleep_hours:
  t = max(x)
  index = x.index(t)
  Sleep_X.append(t)
  Sleep_Y.append(Sleep_Dates[index])

In [ ]:
Watch_TV = pd.DataFrame({'Time': Watch_TV_Time, 'Count': Watch_tv_X, 'Date': Watch_tv_Y})
Bathe = pd.DataFrame({'Time': Bathe_Time, 'Count': Bathe_X, 'Date': Bathe_Y})
Personal_Hygiene = pd.DataFrame({'Time': Personal_Hygiene_Time, 'Count': Personal_Hygiene_X, 'Date': Personal_Hygiene_Y})
Sleep = pd.DataFrame({'Time': Sleep_Time, 'Count': Sleep_X, 'Date': Sleep_Y})
Phone = pd.DataFrame({'Time': Phone_Time, 'Count': Phone_X, 'Date': Phone_Y})

# Watch_TV Graph

In [ ]:
fig = px.scatter(Watch_TV, x = 'Time', y = 'Count', hover_data = ['Date'])
fig = px.line(Watch_TV, x = 'Time', y = 'Count', hover_data = ['Date'],markers=True)
fig.show()

# Bathe Graph

In [ ]:
fig = px.scatter(Bathe, x = 'Time', y = 'Count', hover_data = ['Date'])
fig = px.line(Bathe, x = 'Time', y = 'Count', hover_data = ['Date'],markers=True)
fig.show()

# Personal_Hygiene Graph

In [ ]:
fig = px.scatter(Personal_Hygiene, x = 'Time', y = 'Count', hover_data = ['Date'])
fig = px.line(Personal_Hygiene, x = 'Time', y = 'Count', hover_data = ['Date'],markers=True)
fig.show()

# Sleep Graph

In [ ]:
fig = px.scatter(Sleep, x = 'Time', y = 'Count', hover_data = ['Date'])
fig = px.line(Sleep, x = 'Time', y = 'Count', hover_data = ['Date'],markers=True)
fig.show()

# Phone Graph

In [ ]:
fig = px.scatter(Phone, x = 'Time', y = 'Count', hover_data = ['Date'])
fig = px.line(Phone, x = 'Time', y = 'Count', hover_data = ['Date'],markers=True)
fig.show()